.idea
__pycache__
config.json
discord.log
.vs
.DS_Store
logs
macOS
linux
modules/.DS_Store
natives/.DS_Store
natives/darwin/.DS_Store
OpenJDK11U-jdk_x64_linux_hotspot_11.0.6_10.tar.gz
OpenJDK11U-jdk_x64_mac_hotspot_11.0.6_10.tar.gz
OpenJDK11U-jdk_x86-32_windows_hotspot_11.0.6_10.zip
OpenJDK11U-jdk_x64_windows_hotspot_11.0.6_10.zip
discord.log
Lavalink2.jar
